[Desktop Entry]
Type=Application
Exec=/usr/bin/kstars
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IE]=Kstars
Name=Kstars
Comment[en_IE]=
Comment=
